@font-face{
	font-family:Fredericka;
	src: url(./font/FrederickatheGreat-Regular.ttf);
}
*{
	margin: 0;
	padding: 0;
}
.header h1{
	color: brown;
	font-family:FrederickatheGreat;
}
.container{
	width: 75%;
	margin:auto;
}
.header span{
	font-size: 10px;
	color: darkblue;
	margin: -10px;
}